@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-family: "Roboto";
}

.home_image {
    height: calc(100vh - 8vh);
    opacity: 0.9;
}

.home_text {
    padding: 12rem 0 0 14rem;
}

.center {
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--brown-color);
}

.cart {
    background-color: var(--green-color)
}

.cart img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.homeBaniere {
    margin-top: 8rem;
}

.reservationTitle {
    margin-top: 5rem;
    font-size: 1.8rem;
    text-align: center;
}

.hero-section {
    position: relative;
    height: 400px;
    /* ajustez la hauteur selon vos besoins */
    background-image: url('../img/accueil-oustal-de-marie2.JPG');
    /* remplacez 'votre-image.jpg' par le chemin de votre image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 0.9; */
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .home_text {
        padding: 0;
        padding-top: 7rem;
    }

    .home_text h1 {
        font-size: 50px;
    }

    .home_text h2 {
        font-size: 30px;
    }

    .reservationForm {
        width: 90%;
    }
}