.maisonSliderContainer {
    height: calc(100vh - 8vh);
    width: 100%;
    align-items: center;
    display: flex;
}

.maisonSliderContainer .carousel {
    width: 55%;
    margin-left: 5%;
}

.maisonSliderContainer .txtContainer {
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconGreen2 {
    color: var(--green-color-2);
}

.txtContainer div {
    font-size: 20px;
}

.bookButton {
    background-color: var(--green-color-2);
    width: 200px;
}

.HomeDetails {
    width: 76%;
}

.detailTitle {
    color: var(--green-color-2);
}

.iconGreen {
    color: var(--brown-color);
}

.detailPart {
    margin-bottom: 2.5rem;
}

.descriptionMaison {
    width: 76%;
    text-align: center;
}

.descriptionMaison h1 {
    color: var(--green-color);
    font-size: 30px;
}

.descriptionMaison h2 {
    color: var(--green-color);
    font-size: 26px;
}

.descriptionMaison h3 {
    color: var(--green-color);
    font-size: 22px;
}

.descriptionMaison strong {
    font-weight: bold;
}

.descriptionMaison p {
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 1.5rem;
}


#resaform {
    width: 76%;
}

.appMountPoint-asideBooking {
    width: 76%;
    margin: 50px 12%;
}

@media screen and (max-width: 768px) {
    .maisonSliderContainer {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .maisonSliderContainer .carousel {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .HomeDetails {
        width: 100%;
    }
}